<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel = "icon" href = "/img/weather.png">
    <link rel ="stylesheet" href = "./css/styles.css" >    
    <style>
        body  {
        background-image: url(/img/background.JPG);
        }
    </style>
</head>
<body>
    <div class ='main_content'>
        {{>header}}
        <p>{{errormessage}}</p>
    </div>
    {{>footer}}
</body>

</html>