<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel = "icon" href = "/img/weather.png">
    <link rel ="stylesheet" href = "./css/styles.css" >
</head>
<body>
    <div class ='main_content'>
        {{>header}}
        <p>This site was created by Rajadurai Rathakrishnan. It uses the data from mapbox.com and openweathermap.org</p>
        <img class = "portrait" src ='./img/picture.jpg'>
    </div>
    {{>footer}}
</body>
</html>