<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel = "icon" href = "/img/weather.png">
    <link rel ="stylesheet" href = "./css/styles.css" >
    <style>
        body  {
        background-image: url(/img/background.JPG);
        }
    </style>
</head>
<body>
    <div class ='main_content'>
        {{>header}}
        <p>This site was created by Rajadurai Rathakrishnan. It uses the data from mapbox.com and openweathermap.org</p>
       
    </div>
    {{>footer}}
</body>
</html>