<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel = "icon" href = "/img/weather.png">
    <link rel ="stylesheet" href = "./css/styles.css" >
    
</head>
<body>
    <div class ='main_content' >
        {{>header}}
        <p> View this site to get weather information</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
            <p></p> 
        <table id="customers">
        <tr>
            <th>Weather condition</th>
            <th>Result</th>            
        </tr>
        </tr>
          <tr>
            <td>Location</td>
            <td id = 'message-1'></td>        
        </tr>
        <tr>
            <td>Today's weather forecast</td>
            <td id = 'message-2'></td>             
        </tr>
        </tr>
          <tr>
            <td>Geographical location</td>
            <td id = 'message-3'></td>             
        </tr>
        </tr>
          <tr>
            <td>Temperature</td>
            <td id = 'message-4'></td>             
        </tr>
        </tr>
          <tr>
            <td>Temperature feels like</td>
            <td id = 'message-5'></td>             
        </tr>
        </tr>
          <tr>
            <td>Pressure</td>
            <td id = 'message-6'></td>             
        </tr>
        </tr>
          <tr>
            <td>Humidity</td>
            <td id = 'message-7'></td>             
        </tr>
        </tr>
          <tr>
            <td>Wind speed</td>
            <td id = 'message-8'></td>             
        </tr>
        </tr>
          <tr>
            <td>Wind deg</td>
            <td id = 'message-9'></td>             
        </tr>        
        </table>
        </form>
    </div>
    
    {{>footer}}
    <script src = './js/app.js'></script>
</body>

</html>